body{
    background: skyblue;
    
}

#section{
    margin-top: 50px;
    background-color: white;
    padding: 30px;
    border: 1px solid #ccc;
}

#nombrearticulo{
    height: 30px;
    width: 178px;

}
    