body{
    background: rgb(5, 105, 145);
    
}

h1{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-align: center;
}

.wrap{
    width: 1250px;
    margin: 0px auto;
}

#section{
    margin-top: 50px;
    background-color: white;
    padding: 30px;
    border: 1px solid #ccc;
}

#name{
    height: 30px;
    width: 178px;
}

#price{
    height: 30px;
    width: 178px;
}

#url{
    height: 30px;
    width: 178px;
}

#category{
    height: 30px;
    width: 178px;
}

#upload{
    height: 30px;
    width: 130px;
}

#container{
    display: flex;
    flex-wrap: wrap;

}

    